.custom-navbar {
  background: linear-gradient(90deg, #007bff, #6610f2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 0.8rem 0;
}

.navbar-brand {
  color: #fff !important;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navbar-brand span {
  color: #ffe600;
}

.nav-link {
  color: #fff !important;
  margin: 0 10px;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffe600;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #ffe600 !important;
  transform: translateY(-2px);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}
